extends layout

block content
  script(type="text/javascript", src='/javascripts/external/d3/sankey.js')
  script(type="text/javascript", src='/javascripts/data.js')
  script(type="text/javascript", src='/javascripts/index.js')