doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src='/javascripts/external/d3/d3.min.js')
    script(type="text/javascript", src="/javascripts/external/socket.io.slim.js")
    script(type="text/javascript", src='/javascripts/socket.js')
  body
    block content
