doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src='/javascripts/external/d3/d3.min.js')
    script(type="text/javascript", src='/javascripts/external/jquery-3.3.1.min.js')
  body
    block content
